@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.dernier-ajout{
    font-family: "Roboto";
    width: 100%;
    height: 100%;
    background: rgb(167,201,87);
    background: radial-gradient(circle, rgba(167,201,87,0.5) 0%, rgba(106,153,78,0.5) 100%);
}
.titre-dernier-ajout{
    padding: 3vh;
    font-size: 20px;
    font-weight: bolder;
    font-family: Raleway;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
}
.container-a{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.ajout-ouv{
    padding-left: 12px;
    padding-right: 12px;

    width: 100px;
}

.img-ajout-ouv{
    height: 100px;
    width: 70px;
}
.img-ajout-ouv img{
    width: 100%;
    height: 100%;
}
.titre-ajout-ouv{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titre-ajout-ouv:hover{
    font-size: 16px;
    font-weight: bold;
    color: #A7C957;
    margin-top: 10px;
    margin-bottom: 10px;
}