.inline {
    position: relative;
    display: inline-block;
    width: 85%;
    max-height: 93vh;
    min-height: 93vh;
    vertical-align: top;
}

.inline:not(.selfinfo) {
    overflow-y: scroll;
    overflow-x: hidden;
}

.emprunt {
    position: relative;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row ;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0px;
}

.mes-emprunt {
    flex: 0 0 45%;

    display: flex;
    justify-content: center;
    align-items: center;

}


.div-img > img {
    width: 5rem;
    height: 100%;
}