.emprunt {
    position: relative;
    width: 55%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3vh;
    flex: 30%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto";
}

.rendu{
    position: relative;
    width: 55%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 3vh;

    flex: 30%;
    padding: 20px;

    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: left;
    font-weight: bolder;
    font-size: larger;
}

.mes-emprunt {
    margin-top: 6vh;
    padding: 3vh;
    flex: 0 0 49.99%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


.div-img > img {
    width: 9rem;
    height: 100%;
    margin-right: 5vh;
    float: right;
}

.info-emprunt{
    width: 50%;
}

.text{
    margin-top: 2vh;
    font-weight: 350;
}

.prolong{
    margin-top: 2vh;
}


.plus-info{
    margin-top: 4vh;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #386641;
}

.plus-info a:hover{
    color:#6A994E ;
}

.dateEmprunt{
    color: #BC4749;
}

.date-retour-prevu{
    color: #BC4749;
}

h2{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    margin-top: 7vh;
}