@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.nav-info  a {
    text-decoration: none;
    color: white;
}

.nav-info{
    font-family: "Roboto";
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #386641
}

.nav-info .lien-info-global i {
    font-size: 20px;
    margin-right: 8px;
    color: white;
}

.lien-info-global{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lien-info-global .lien-info-perso{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.lien-info-global .lien-liste-emprunt{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.lien-info-global .lien-liste-reservation{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.lien-info-global .lien-info-perso:hover{
    color: #F2E8CF;
}