@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.reservation {
  font-family: "Roboto";
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.aff {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titre-exemplaire {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

.auteur {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isbn-ex {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.langue-ex {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.confirm-annula {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.body-annula {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.head-confirm {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  border-radius: 10px 10px 0 0;
}

.btn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  text-decoration: none;
}

.btn button {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-annuler-reservation{
  background-color: #6A994E;
  color: #fff;
  text-decoration: none;
  text-align: center;
  height: 25px;
  width: 100px;
  border: none;
  margin-right: 5vh;
  margin-left: 5vh;
  padding: 1vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-annuler-reservation:hover
{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
    cursor: pointer;
}

.btn-confirmer-annuler-res {
  background-color: red;
  color: white;
}

.btn-confirmer-annuler-res {
  background-color: green;
  color: white;
}
