    .mes-infos {
        font-family: 'Open Sans', sans-serif;
        vertical-align: top;
        display: inline-block;
        margin-top: 0;
        width: 79%;
        height: 100vh;
        background-color: white;
    }

    .infoperso {
        display: inline-block;
        margin-left: 3rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin-top: 2rem;
    }

    .info-scolaire {
        display: inline-block;
        vertical-align: top;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin-left: 5rem;
        margin-top: 2rem;
    }

    .titre-mes-infos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 2rem;
        margin-top: 1rem;

    }

    .titre-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
    }

    .info-scol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
    }

    .mini-titre {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        color: red;
        font-size: 1rem;
        margin-top: 0.75rem;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;
        margin-top: 0.1rem;
    }    