footer * {
    font-family: inter;
}

.footer-bg-color {
    z-index: -1;
    display : flex;
    top : 100%;
    background-color: #61013B;
    width : 100%;
    height : auto;
}

.footer-image {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.footer-image img{
    height : 6rem;
    width : auto;
    filter : drop-shadow(0 0 5px #000);
}

.footer-information{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display : flex;
    justify-content: space-evenly;
    align-items : center;
    width: 70%;
}

.footer-information .title{
    font-weight: bolder;
    font-size : 32px;
    margin-bottom: 1rem;
}

.footer-information {
	margin-top : 10px;
    color : white;
}

.external-links a:link,.external-links a:visited,.external-links a:hover,.external-links a:active, .external-links a{
	text-decoration : none;
	color : white;
	font-style : italic;
}
